<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">  
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styleslogin.css"> 
    </head>
<body>
    <header>
        <div class="headeradec1">
            <div class="headeradec">
                <div class="logo">
                <a href="home"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="buscador">
                <div class="barra">Buscar productos, marcas </div>
                <div class="lupa"> <i class="fa-solid fa-magnifying-glass"></i> </div>
                </div>
            </div>
            <div class="icon1"><i class="fa-solid fa-hand-holding-dollar"></i>   Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
    <div class="navbar">
    <ul class="grupo1">
        <li><a href="Ofertas.html">Ofertas</a></li>
        <li><a href="Tiendas Oficiales.html">Tiendas Oficiales</a></li>
        <li><a href="Vender.html">Vender</a></li>
        <li><a href="Ayuda.html">Ayuda</a></li>
    </ul>
    <p> </p>
    <p> </p>
    <ul class="grupo2">
        <li><a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
        <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
        <li><a href="Mis Compras.html">Mis Compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
    </ul>
    </div>
    <p> </p>
    <div class="burger-menu"><i class="fas fa-bars"></i>
    </div>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
   </header>
    <form>
        <div class="campologin">
            <label></label>
            <input type="text" name="nombredeusuario" placeholder="Nombre de usuario" class="casilla">
        </div>
        <div class="campologin">
            <label></label>
            <input type="password" name="contraseña" placeholder="Contraseña" class="casilla">
        </div>
        <div class="boton">
            <button type="submit"><a href="home">Enviar</a></button> <!--debe llevar al home-->
        </div>
    </form>
    <footer>
        <div class="iconfooter"><i class="fa-sharp fa-solid fa-credit-card"></i></div>
        <section><h3 class="h3footer">Pagá con tarjeta o en efectivo</h3> 
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p> </section>
        <p> </p>
        <div class="iconfooter"><i class="fa-solid fa-gift"></i></div>
        <section><h3 class="h3footer">Envío gratis desde $ 2.500</h3> 
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p> </section>
        <p> </p>
        <div class="iconfooter"><i class="fa-solid fa-user-shield"></i></div>
        <section><h3 class="h3footer">Seguridad, de principio a fin</h3> 
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás protegido.</p> </section>
        <p> </p>
        <section class="copyright">Copyright © 1999-2020 Mercado Liebre S.R.L.</section>
   </footer>
</body>
</html>