
.banner {
    display: none;
}

.camporegister {
    text-align: center;
    padding: 20px 5px;
}

.casilla{
    padding: 10px 5px;
    border: none;
    width: 60%;
    font-size: 14px;
    border-radius: 5px;

}


.titulo1{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-left: 20%;
    padding-bottom: 20px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-left: 20%;
}

.boton1{
    margin-left: 0px;
    margin-right: 10px;
}
.boton2{
    margin-left: 10px;
    margin-right: 10px;
}
.categoria{
    text-align: left;
    padding-left: 20%;
    padding-bottom: 20px;
}

.boton{
    text-align: center;
    padding: 20px 5px 40px 5px;
}
button {
    background-color: #1259c3;
    font-size: 14px;
    padding: 10px 5px;
    width: 25%;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width:461px){
    .opciones{
        width: 80%;
   
    } 
    header {
        position: fixed;
        top: 0;

    }
    form {
        margin-top: 280px;
    }
    
}
@media (min-width: 769px){
    .opciones{
        width: 50%;
    }
}