*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    width: 100%;
    
}
header {
    font-family:'Roboto', sans-serif;
    background-color: #EAC926;
    }

.headeradec{
    width: 100%;
    display: flex;
}
 
.headeradec1{
    display: flex;
    justify-content: space-between;

}

.icon1{
    width: 50%;
    margin-top: 20px;
}
.banner{
    background-color: #ebebeb;
}    
main {
    font-family:'Roboto', sans-serif;
    background-color: #ebebeb;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    margin: auto;
   
}


h2{
    color:#666;
    font-size: 24px;
}



footer {
    background-color: white;
    font-family:'Roboto', sans-serif;
    color:#666;
    border: solid 5px #ebebeb;
    padding-top: 80px;
    padding-bottom: 40px;
}

.logo{
    padding: 10px;
    max-width: 50%;
}

.icon1{
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.h3footer{
    font-size: 24px;
    color:#666;
    font-weight: 600;
    text-align: center;
}

.precio{
    font-size: 18px;
    width: 30%;
    
}

.descuento{
    color: #39b54a;
    font-size: 16px;
    width: 70%;
    }

.des{
    font-size: 16px;
    padding-top: 20px;
    color: #666;
}
p{
    font-size: 12px;
}
.separacionart {
    height: 10px;
}

.lupa{
    background-color: rgb(255, 255, 255);    
    font-size: 16px;
    width: 10%;  
    
}
.buscador{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px; 
    background-color: rgb(255, 255, 255);
    padding: 1% 1%; 
    border-radius: 10px;
    font-size: 12px;
    color: #666;
    justify-content: space-between;
    width: 50%;   
    margin-left: 4px;
    margin-right: 4px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px
}

.grupo1{
    display: flex;
    width: 40%;
    justify-content: space-between;
    
}
.grupo2{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}



.iconfooter {
    font-size: 2em;
    color:#1259c3;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 100px;
   
}

footer section{
    text-align: center;
    padding: 20px 100px;
}

.copyright {
    text-align: start;
    font-size: 12px;
    padding-left: 20px;
}

.truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    color:#39b54a;
    right: -90%;
    top: -30px;
    
}
.contenedorsupremo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articulo{
    width: 46%;
    margin: 2%; 
}

.contenedor1{
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
}

img {
    height: 100%;
    width: 100%;
}
      
.precioDesc{
    display: flex;
}

.burger-menu{
    display: none;
}

@media (max-width:461px){
    .burger-menu{
        background-color: #1259c3;
        font-size: 24px;
        color:#ebebeb;
        text-align: center;
        border-radius: 8px;
        max-width: 80px;
        display: block;
        margin: auto;
        padding: 20px 20px 20px 20px;
        margin-bottom: 30px;
        }
    p.des{
    display: none;    
    }
    .navbar{
        display: none;
    }
    .articulo{
        width: 100%;
    }
    .headeradec{
        display: flex;
    
    }   
    .headeradec1{
        flex-wrap: wrap;
    }
    .icon1{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px){
 .articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 21%;
 }
    .contenedorsupremo{
        display: flex;
        justify-content: space-between;
    }

    .burger-menu{
    display: none;
}
    .headeradec1{
        display: flex;
        justify-content: space-between;

    }
    .headeradec{
        display: flex;
        
    }
    .icon1{
        width: 33%;
        margin-top: 30px;
    }
    .grupo1{
        display: flex;
        width: 40%;
        justify-content: space-between;
        
    }
    .grupo2{
        display: flex;
        width: 40%;
        justify-content: space-between;
    }
}